*{
    font-family: sans-serif;
}
.navbar-style{
    background-color: rgb(223,199,168);
}
.logo-img-style{
    height: 50px;
    width: 50px;
}
.logo-text-style{
    margin: -21px 0px 0px 50px;
}
.mr-auto{
    margin-left: 80%;
    margin-top: -50px;
    
}
#basic-nav-dropdown{
    padding-right: 40px;
}
main{
    min-height: 82vh;
}
footer{
    background-color:  rgb(223,199,168);
    padding: 10px;
}
